{% extends 'base.html' %}

{% block content %}
<div>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
            <button>Sign Up</button>
        </div>
    </form>
</div>
{% endblock content%}